[submodule "vendor/Doctrine2"]
	path = vendor/Doctrine2
	url = http://github.com/doctrine/doctrine2.git
[submodule "vendor/Zend"]
	path = vendor/Zend
	url = https://epixa@github.com/epixa/Zend-Framework-v1-Mirror.git
